body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    background-color: #fff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 600px; /* Unificado para todas as .container */
    text-align: center;
}

h2 {
    font-size: 24px;
    margin-bottom: 20px;
}

.container input,
textarea {
    width: calc(100% - 22px);
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

.password-container {
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
}

.password-container input {
    padding-right: 40px;
}

.toggle-password {
    position: absolute;
    right: 10px;
    cursor: pointer;
}

.container button {
    width: 100%;
    padding: 12px;
    border: none;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 10px;
    transition: background-color 0.3s, box-shadow 0.3s;
    background-color: #1976D2;
}

.container button:hover {
    background-color: #1976D2;
    box-shadow: 0 4px 8px rgba(40, 53, 167, 0.4);
}

button:disabled {
    background-color: #6c757d;
    cursor: not-allowed;
}

.button-logout {
    background-color: #dc3545 !important;
}

.button-logout:hover {
    background-color: #c82333 !important;
    box-shadow: 0 4px 8px rgba(220, 53, 69, 0.4) !important;
}

.button-payment {
    background-color: #17a2b8;
}

.button-payment:hover {
    background-color: #1976D2;
    box-shadow: 0 4px 8px rgba(4, 0, 250, 0.4);
}

.button-orcamento-access {
    background-color: rgb(4, 185, 4) !important;
}
.button-orcamento-access:hover {
    background-color: rgb(0, 126, 0) !important;
}

.container p {
    margin-top: 20px;
    font-size: 14px;
}

.container a {
    color: #007bff;
    text-decoration: none;
}

.container a:hover {
    text-decoration: underline;
}

.loading-spinner {
    border: 4px solid rgba(0, 0, 0, 0.1);
    border-left-color: #09f;
    border-radius: 50%;
    width: 24px;
    height: 24px;
    animation: spin 1s linear infinite;
    display: inline-block;
    vertical-align: middle;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

#upload-btn {
    background-color: #ddd;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: not-allowed;
}

#upload-btn.active {
    background-color: #1976D2;
    cursor: pointer;
}

/* Estilo da tabela */
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    padding: 10px;
    border: 1px solid #ddd;
    text-align: center;
    font-size: 14px;
}

th {
    background-color: #f8f9fa;
}

td {
    background-color: #ffffff;
    word-break: keep-all;
    text-overflow: ellipsis;
    overflow: hidden;
}

tr:hover {
    background-color: #f1f1f1;
}

button.edit-btn, button.delete-btn {
    padding: 8px 12px;
    margin: 5px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    color: white;
    font-size: 14px;
}

button.edit-btn {
    background-color: #007bff;
}

button.edit-btn:hover {
    background-color: #0056b3;
}

button.delete-btn {
    background-color: #dc3545;
}

button.delete-btn:hover {
    background-color: #c82333;
}
