<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="../static/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="icon" href="{{ url_for('static', filename='fotos/microfone.png') }}" type="image/x-icon">
</head>
<body>
    <div class="container">
        <h2>Login Distribuidores</h2>
        <form id="login-form">
            <input type="email" id="login-email" placeholder="Email" required>
            <div class="password-container" style="position: relative;">
                <input type="password" id="login-password" placeholder="Senha" required>
                <i class="fas fa-eye eye-icon" style="position: absolute; right: 10px; top: 50%; transform: translateY(-50%); cursor: pointer;" onclick="togglePasswordVisibility('login-password')"></i>
            </div>
            <div>
                <button id="login-button" type="button" onclick="Login()">Login</button>
                <div id="login-loading" class="loading-spinner" style="display: none;"></div>
            </div>
            <p>Não tem uma conta? <a href="{{ url_for('cadastro_distribuidor') }}">Cadastre-se</a></p>
        </form>
    </div>
    <script src="https://www.gstatic.com/firebasejs/3.7.4/firebase.js"></script>
    <script src="https://www.gstatic.com/firebasejs/5.4.1/firebase-firestore.js"></script>
    <script src="{{ url_for('static', filename='firebase.js') }}"></script> 
    <script src="{{ url_for('static', filename='loginCadastro.js') }}"></script> 
</body>
</html>