<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Resultado do Pagamento</title>
</head>
<body>
    <h2>Resultado do Pagamento</h2>
    <div>
        <p><strong>ID do Pagamento:</strong> {{ payment_details['id'] }}</p>
        <p><strong>Status:</strong> {{ payment_details['status'] }}</p>
    </div>
    <div>
        <a href="/">Voltar</a>
    </div>
</body>
</html>
